.right {
  width: 50%;
  padding: 10em;
}

.right h3 {
  font-style: normal;
  font-weight: normal;
  width: 252px;
  height: 77px;
  font-size: 64px;
  line-height: 82px;
}

.right p {
  font-style: normal;
  font-weight: normal;
  width: 284px;
  height: 49px;
  font-size: 30px;
  line-height: 38px;
}

.right input {
  width: 400px;
  height: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 9px;
}

.right .sidebyside {
  width: 40px;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: flex-start;
  justify-content: space-between;
}

.right .sidebyside label {
  font-style: normal;
  font-weight: normal;
  width: 138px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
}

.right .sidebyside p {
  font-style: normal;
  font-weight: normal;
  width: auto;
  font-size: 20px;
  line-height: 26px;
}

.right .sidebyside input {
  width: 15px;
  height: 15px;
}

.right button {
  width: 400px;
  height: 50px;
  background: #e87b7b;
  border-radius: 9px;
}
